:root {
    --primary-color: #7d2cdc;
    --secondary-color: #5757cf;
    --terciary-color: #7dcdb8;
    --background-color: #00071c;
    --cards-background: #010f3a;
    --text-color: #ffffff;
    --secondary-text-color: #b6b8be;
    --faqs-background: #000820;
    --cards-hover: #0a0f4f;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
} 

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Preahvihear', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

#logo {
    width: 200px;
    height: auto;
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-text-color);
}

.container  {
    max-width: 70%;
    margin: auto;
    padding: 5rem 2rem;
}

/* Menu */
nav {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 4rem 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--text-color);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.link a:hover {
    color: var(--primary-color);
    font-weight: 700;
}

.link a:hover::after {
    width: 70%;
}

.primary-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background-color: var(--secondary-color);
}

.responsive-menu {
    display: none; 
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    padding: 2rem;
    transition: right 0.3s ease;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
}

.mobile-nav li {
    margin-bottom: 1rem;
}

.mobile-nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.mobile-nav a:hover {
    color: var(--primary-color);
}

@media (max-width: 1300px) {
    .nav-links {
        display: none;
    }

    .responsive-menu {
        display: block; 
        cursor: pointer;
    }

    .responsive-menu i {
        font-size: 24px;
        color: var(--text-color);
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        right: -300px; 
        width: 250px;
        height: 100%;
        background-color: var(--cards-background);
        z-index: 1000;
        padding: 2rem;
        transition: right 0.3s ease;
    }

    .mobile-nav.active {
        right: 0; 
    }

    .mobile-nav h1 {
        margin-bottom: 3rem;
    }

    .mobile-nav ul {
        margin-bottom: 2rem;
    }
}

.title {
    font-size: 1.8rem;
    text-align: center;
}

.sub-title {
    color: var(--secondary-text-color);
    text-align: center;
    margin-top: 2rem;
}

.purple-title {
    color: var(--primary-color);
}

/* Header section */
header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content p {
    margin-bottom: 3rem;
}

header .header-image {
    position: relative;
    margin-top: 2rem;
}

header .header-image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--primary-color);
    opacity: 0.2;
    z-index: -100;
}

header .header-image img {
    max-width: 100%;
}

/* Services section */
.blur {
    position: absolute;
    top: 110vh;
    box-shadow: 0 0 1000px 120px #7d2cdc;
    z-index: -100;
}

.services {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    background-color: var(--cards-background);
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: var(--cards-hover);
    border-color: #fff;
}

.card h4 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.card p {
    color: var(--text-color);
    margin-bottom: 1rem;
}

.card h3 {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.card p i {
    color: var(--terciary-color);
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.card {
    position: relative;
}

.card p:last-of-type {
    margin-bottom: 5rem; 
}

.card-btn {
    margin-top: 3rem;
    text-align: center;
    position: absolute;
    bottom: 1rem; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    width: 90%;
}

.card-btn button {
   width: 100%;
}

/* Manteniment section */
.manteniment-background{
    background-image: url(/images/purple-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
} 

.manteniment {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#sub-price {
    font-size: 1.5em;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--primary-color) ;
    margin-top: 4em;
}

.price {
    font-size: 2em;
    font-weight: 700;
}

/* Info popups */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0); 
    backdrop-filter: blur(15px);
}

.modal-content {
    background-color: var(--cards-background);
    margin: 10% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 55%;
    height: 60%;
    position: relative;
    border-radius: 25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-text {
    color: var(--text-color);
}

.modal-text h4 {
    font-size: 2em;
    margin-bottom: 1em;
}

.modal-text h3 {
    margin-bottom: 2em;
}

.modal p i {
    color: var(--terciary-color);
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.modal-columns {
    display: flex;
}

.modal-text {
    flex: 1;
    padding: 20px;
}

.modal-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* FAQs section */
.faqs-background{
    background-image: url(/images/lines3.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
} 

.faqs {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.faqs-container {
    width: 60%;
    background-color: var(--faqs-background);
    padding: 20px;
}

.faq-item {
    margin-bottom: 15px;
    background-color: #010f3a;
    border-radius: 8px;
    overflow: hidden;
}

.faq-item:last-child {
    margin-bottom: 0;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 25px;
}

.question-text {
    flex: 1;
    color: white;
}

.toggle-icon {
    transition: transform 0.3s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #1f2e59;
    color: white;
}

.answer {
    display: none;
    padding: 15px;
    color: white;
    background-color: var(--faqs-background);
}

.show-answer .answer {
    display: block;
}

.rotate-icon {
    transform: rotate(45deg);
}

/* Contact section */
.contact {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 60%;
    background-color: var(--faqs-background);
    padding: 20px;
}

.contact-form {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--cards-background);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: calc(100% - 12px);
    padding: 6px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: var(--primary-color);
    font-weight: 700;
}

#form-btn {
    width: 100%;
    padding: 15px 12px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#form-btn:hover {
    background-color: var(--secondary-color);
}

/* Back to top */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
}

#back-to-top-btn:hover {
    background-color: var(--secondary-color);
}

#back-to-top-btn.show {
    display: block;
}

/* Footer */
.footer {
    background-color: var(--background-color);
    padding: 50px;
    text-align: center;
}

.separator {
    border-top: 2px solid var(--primary-color);
    width: 100%;
    margin-top: 5em;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer-logo {
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.footer-text {
    margin: 0;
    font-size: 14px;
    color: var(--secondary-text-color); 
}


/* Media queries */
@media (max-width: 1200px) {
    header {
        display: block;
        text-align: center;
    }

    .header-image {
        display: none;
    }

    header .content h1 {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 0.5rem;
    }

    header .content p {
        margin-bottom: 2rem;
    }

    .modal-image {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .services,
    .manteniment {
        grid-template-columns: repeat(2, 1fr);
    }

    .faqs-container {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .services,
    .manteniment{
        grid-template-columns: 1fr;
    }

    .faqs-container {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }
}