:root {
    --primary-color: #7d2cdc;
    --secondary-color: #5757cf;
    --terciary-color: #7dcdb8;
    --background-color: #00071c;
    --cards-background: #010f3a;
    --text-color: #ffffff;
    --secondary-text-color: #b6b8be;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
} 

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Preahvihear', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-text-color);
}

nav {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 4rem 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--text-color);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.link a:hover {
    color: var(--primary-color);
    font-weight: 700;
}

.link a:hover::after {
    width: 70%;
}

.primary-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background-color: var(--secondary-color);
}

.container  {
    max-width: 70%;
    margin: auto;
    padding: 5rem 2rem;
}

/* Header section */
header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content p {
    margin-bottom: 3rem;
}

header .header-image {
    position: relative;
    margin-top: 2rem;
}

header .header-image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--primary-color);
    opacity: 0.2;
    z-index: -100;
}

header .header-image img {
    max-width: 100%;
}

/* Media queries */
@media (max-width: 1200px) {
    header {
        display: block;
        text-align: center;
    }

    .header-image {
        display: none;
    }

    header .content h1 {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 0.5rem;
    }

    header .content p {
        margin-bottom: 2rem;
    }
}

